<h1>AboutUsPage</h1>
<div class="grid md-2">
  <div class="g-col-6 g-col-md-4">.g-col-6 .g-col-md-4</div>
  <div class="g-col-6 g-col-md-4">.g-col-6 .g-col-md-4</div>
  <div class="g-col-6 g-col-md-4">.g-col-6 .g-col-md-4</div>
  <p class="h1">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
</div>
<div class="grid md-2">
  <div class="g-col-6 g-col-md-4">.g-col-6 .g-col-md-4</div>
  <div class="g-col-6 g-col-md-4">.g-col-6 .g-col-md-4</div>
  <div class="g-col-6 g-col-md-4">.g-col-6 .g-col-md-4</div>
  <p class="h1">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
</div>
