<section class="text-center vh-100 bg-light text-dark m-0 p-0">
  <h2 class="text-center text-uppercase py-4">Praca Twoich marzeń!</h2>
  <div class="container">
    <div class="row col-lg-12">
      <div class="col-lg-6 text-center py-4">
        <img src="https://cdn.pixabay.com/photo/2019/10/06/10/03/team-4529717_960_720.jpg"
          class="d-block w-100 vh-lg-75">
      </div>
      <div class="col-lg-6 text-center py-4">
        <h2 class="py-1 fw-bold">Kilka słów o nas</h2>
        <p class="text-start">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium voluptas ab
          laudantium! Harum minima sint
          dignissimos quibusdam. Blanditiis optio harum unde, necessitatibus beatae nam aut ipsam tenetur.
          Exercitationem,
          voluptatum quibusdam.
          Amet ab magni fugiat aperiam necessitatibus beatae minima dolorum voluptates perspiciatis distinctio
          architecto
          ad
          commodi temporibus nisi at, qui obcaecati sequi, nobis repellendus. Mollitia, aut! Earum quo maiores natus
          cumque!
        </p>
        <h2 class="py-2 text-center fw-bold">Co nas wyróżnia?</h2>
        <p class="text-start">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium voluptas ab
          laudantium! Harum minima sint
          dignissimos quibusdam. Blanditiis optio harum unde, necessitatibus beatae nam aut ipsam tenetur.
          Exercitationem.
          Ducimus tempore magni culpa accusantium dolor beatae iure cupiditate sint ipsa necessitatibus voluptate, non
          commodi itaque aspernatur quam officia aliquid explicabo corporis numquam nesciunt consequuntur aut hic in.
          Minus,
          omnis.
        </p>
      </div>
    </div>
  </div>
</section>
