<!-- <div class="grid" style="--bs-columns: 0;"> -->
<!-- <div class="g-col-6">Zdjęcie główne</div>
        <div class="g-col-6">Kilka słów o mnie
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium voluptas ab laudantium! Harum minima sint
                dignissimos quibusdam. Blanditiis optio harum unde, necessitatibus beatae nam aut ipsam tenetur. Exercitationem,
                voluptatum quibusdam.
                Ducimus tempore magni culpa accusantium dolor beatae iure cupiditate sint ipsa necessitatibus voluptate, non
                commodi itaque aspernatur quam officia aliquid explicabo corporis numquam nesciunt consequuntur aut hic in. Minus,
                omnis.
                Amet ab magni fugiat aperiam necessitatibus beatae minima dolorum voluptates perspiciatis distinctio architecto ad
                commodi temporibus nisi at, qui obcaecati sequi, nobis repellendus. Mollitia, aut! Earum quo maiores natus cumque!
                Placeat, autem tenetur sed deleniti possimus ipsam doloribus quibusdam dolor architecto in ut optio ipsa magni
                labore, totam asperiores aperiam sint earum quod quisquam modi sit perspiciatis ratione doloremque! Debitis.
                Eius ratione quod, beatae quibusdam ex distinctio aperiam labore voluptatum ab reprehenderit nam asperiores
                delectus atque, ullam quos? Totam, nobis reiciendis. Nobis consequatur corrupti eum, repellendus quae ex autem
                tempore?
                Est, iste consectetur ipsa fugit tempore modi libero nulla iusto repellendus natus necessitatibus in id optio sint
                quaerat maxime facilis ad provident magni porro adipisci itaque. Aspernatur optio quaerat dolor?</p>
            </div>
        </div> -->

<section class="text-center vh-100 bg-light text-dark m-0 p-0">
  <h1 class="text-center pt-3">HomePage</h1>
  <div class="container">
    <div class="row col-12">
      <div class="col-6 text-center py-2">
        <h2 class="py-2">Praca Twoich marzeń!</h2>
        <img src="https://cdn.pixabay.com/photo/2019/10/06/10/03/team-4529717_960_720.jpg" class="d-block w-100">
      </div>
      <div class="col-6 text-center py-2">
        <h2 class="py-2">Kilka słów o nas</h2>
        <p class="text-start">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium voluptas ab
          laudantium! Harum minima sint
          dignissimos quibusdam. Blanditiis optio harum unde, necessitatibus beatae nam aut ipsam tenetur.
          Exercitationem,
          voluptatum quibusdam.
          Ducimus tempore magni culpa accusantium dolor beatae iure cupiditate sint ipsa necessitatibus voluptate, non
          commodi itaque aspernatur quam officia aliquid explicabo corporis numquam nesciunt consequuntur aut hic in.
          Minus,
          omnis.
          Amet ab magni fugiat aperiam necessitatibus beatae minima dolorum voluptates perspiciatis distinctio
          architecto
          ad
          commodi temporibus nisi at, qui obcaecati sequi, nobis repellendus. Mollitia, aut! Earum quo maiores natus
          cumque!
        </p>
        <h2 class="py-2">Co nas wyróżnia?</h2>
        <p class="text-start">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium voluptas ab
          laudantium! Harum minima sint
          dignissimos quibusdam. Blanditiis optio harum unde, necessitatibus beatae nam aut ipsam tenetur.
          Exercitationem.
        </p>
      </div>
    </div>
  </div>
</section>
