<div class="container-fluid m-0 p-0 vh-15">
  <router-outlet>
    <section class="d-flex flex-column vh-10">
      <nav class="navbar navbar-expand-lg bg-dark px-5 text-light">
        <div class="container-fluid">
          <a class="navbar-brand text-light text-lowercase" href=""><span
              class="text-primary text-uppercase fs-3 fw-bold">D</span>ream<span
              class="text-primary text-uppercase fs-3 fw-bold">W</span>ork</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon text-light d-block fs-3"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav text-uppercase">
              <a class="nav-link active text-light" aria-current="page" href="">Home</a>
              <a class="nav-link text-light" href="onas">O nas</a>
              <a class="nav-link text-light" href="pracownik">Praca</a>
              <a class="nav-link text-light">Kontakt</a>
            </div>
          </div>
        </div>
      </nav>
    </section>
  </router-outlet>
  <!-- <footer class="bg-dark text-light d-flex justify-content-center align-items-center">
    <p>Copyright &2022</p>
  </footer> -->
</div>
